params {
  config_profile_description = 'Cambridge HPC cluster profile.'
  config_profile_contact = 'Andries van Tonder (ajv37@cam.ac.uk)'
  config_profile_url = "https://docs.hpc.cam.ac.uk/hpc"
}
singularity {
  enabled = true
  autoMounts = true
  // Save singularity containers to a directory so they don't
  // have to be pulled every time the pipeline is run
  singularity.cacheDir = '/home/ajv37/rds/hpc-work/nextflow-singularity-cache'
}
process {
  executor = 'slurm'
  // Selects cclake nodes and account to charge CPU hours to
  clusterOptions = '-p cclake -A PARKHILL-SHGB2-SL2-CPU'
}
// Max resources for each node on Cambridge HPC
params {
  max_memory = 192.GB
  max_cpus = 56
  max_time = 12.h
}